@tailwind base;
@tailwind components;
@tailwind utilities;

.productimagebox{
    scrollbar-color: transparent transparent !important;
    overflow-y: auto !important;
}

.MuiInputBase-input::placeholder{
    color: #716c6c;
    font-weight: 600;
    font-family: 'poppins';
}

.product-image-main-section:nth-child(2n){
    margin-top: 50px;
}

@layer components {
    .ProductListPage {
        @apply !w-[100%] !bg-white !pt-[125px] !font-poppins !pb-[150px]
    }
    .backbuttonsection{
        @apply !ml-[5px] !mb-[20px]
    }
    .Search-Section{
        @apply !w-[100%]
    }
    .product-image-section{
        @apply !h-[200px] !w-[180px] !shadow-[0_0px_10px_rgba(0,0,0,0.25)] !mt-[30px] !m-[10px] !rounded-[20px]
    }
    .product-image{
        @apply !h-[130px] !w-[150px]
    }
    .product-info{
        @apply !text-sdproductinfo !font-poppins !text-black !font-[600] !w-[100%] !max-w-[200px] !text-center 
    }
    .productimagebox{
        @apply !flex !mb-[20px] !mt-[80px]
    }
    .backbuttonsubsection {
        @apply !shadow-[0_0px_3px_rgba(0,0,0,0.35)] !rounded-[20px]
    }
    .searchbox{
        @apply !h-[45px] ml-[10px] !rounded-[30px] !outline-none !p-[10px] !border-[2px] !border-yellowmild
    }
    .search-btn{
        @apply !bg-yellowmild !absolute !right-0 !w-[80px] !h-[45px] !rounded-[30px] !flex !justify-center !items-center
    }
    .noproductsection{
        @apply !flex !justify-center !items-center !w-[100%] 
    }
    .product-image-subsection{
        @apply !flex !pt-[5px] !flex-col !items-center !w-[100%] !h-[100%]
    }
}

@media screen and (max-width: 420px) {
    .product-image-section{
        @apply !h-[190px] !w-[170px]
    }
    .product-image{
        @apply !h-[140px] !w-[140px]
    }
}

@media screen and (max-width: 400px) {
    .product-image-section{
        @apply !h-[180px] !w-[160px]
    }
    .product-image{
        @apply !h-[130px] !w-[130px]
    }
}

@media screen and (max-width: 380px) {
    .product-image-section{
        @apply !h-[170px] !w-[150px]
    }
    .product-image{
        @apply !h-[120px] !w-[120px]
    }
    .product-info{
        @apply !text-sdproductinfo_lg
    }
}

@media screen and (max-width: 360px) {
    .product-image-section{
        @apply !h-[160px] !w-[140px]
    }
    .product-image{
        @apply !h-[110px] !w-[110px]
    }
    .product-info{
        @apply !text-sdproductinfo_md
    }
}

@media screen and (max-width: 340px) {
    .product-image-section{
        @apply !h-[150px] !w-[120px]
    }
    .product-image{
        @apply !h-[100px] !w-[100px]
    }
    .product-info{
        @apply !text-sdproductinfo_sm
    }
}