@font-face {
    font-family: 'Poor Story';
    src: url('../PoorStory/PoorStory-Regular.woff2') format('woff2'),
        url('../PoorStory/PoorStory-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

